@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 font-body;
}

a {
  @apply text-brand hover:text-brand-dark transition-colors;
}
